.input-group{
    display: flex;
    flex-direction:column;
    max-width: 82%;
    position: relative;
        margin: auto;
       
    }


    #next{
        width:8rem;
        position: absolute;
        right: 0;
        bottom: -2rem;
    }

 #calls{
    

}
 #canceled{
   

}

 #transferred{
   

}
 #irc{
    
    
}
 #tma{
   


}
 #short{
    
   

}
 #resolution{
  

}




   