.input-group{
    display: flex;
    flex-direction:column;
    max-width: 90%;
    position: relative;
    margin: 0 4rem;
    }


.input-group #title{
    padding: 1rem 0;
}

.Button{
    display: flex;

    justify-content:space-between;

    height:20%
}

footer{
        color: white;
        background-color:var(--bg-blue);
        padding: 1rem; 
         border-radius:5rem ;
    
        text-align:left;
        position: relative;
           
    }  

footer:hover{
  
    background-color: #71c3ba;
    transition: all 2s ease-in-out;
}    




#next{
    
        padding:.6rem;    
        width:8rem;
        
    }





   